.monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 0.875rem;
  line-height: 1.6;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.center-top {
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translate(-50%, -50%);
}
.transform-center {
  transform: translate(-50%, -50%);
}
.logout-button {
  color: white;
  transition: 0.1s;
  cursor: pointer;
}
.logout-button:hover {
  color: #dc3545;
  transition: 0.1s;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  flex-direction: column;
}

.spaceship {
  width: 3px;
  height: 3px;
  background: white;
  position: absolute;
}
