@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotation-trajectory {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes elementAnimation {
  0% {
    width: 10vh;
    height: 10vh;
    opacity: 1;
  }

  100% {
    width: 20vh;
    height: 20vh;
    opacity: 0;
  }
}
.rotate {
  animation: rotation 160s infinite linear;
}
.rotate-trajectory {
  animation: rotation-trajectory 500s infinite linear;
}

.sun {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.planet {
  aspect-ratio: 1/1;
  border: 1px dashed rgb(211, 211, 211);
  border-style: dashed;
  border-radius: 50%;
  height: 100%;
}
.planet-actions {
  width: 100%;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  opacity: 0;

  transition: 0.1s;
  transition-timing-function: ease-out;
}
.planet-actions:hover {
  transition: width 0.3s, height 0.3s;
  opacity: 1;
  width: 175%;
  border: 1px solid white;
  border-radius: 50%;
}
.trajectory {
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* center it properly! */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.trajectory-1 {
  height: 10vh;
  animation: elementAnimation 5s infinite;
}
.trajectory-2 {
  height: 25vh;
}
.trajectory-3 {
  height: 40vh;
}
.trajectory-4 {
  height: 55vh;
}
.trajectory-5 {
  height: 70vh;
}
.trajectory-6 {
  height: 85vh;
}
.trajectory-7 {
  height: 100vh;
}

#orbit-trash-content {
  animation: rotation-trajectory 500s infinite linear;
}
.orbit-trash {
  animation: opacity 2s infinite;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  /* border-radius: 50%; To make it appear as a circle */
}
