@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotation-trajectory {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotation 160s infinite linear;
}
.rotate-trajectory {
  animation: rotation-trajectory 500s infinite linear;
}

.sun {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
/* .haik {
  transform: translate(-50%, -50%);
  top: 50%;
}

.draugr {
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 50%);
}
.colosseum {
  right: 20%;
  top: 0;
  transform: translate(50%, 50%);
}
.ursus {
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wadirum {
  right: 0%;
  top: 55%;
  transform: translate(50%, -50%);
}
.saffar {
  transform: translate(-50%, -50%);
  top: 12%;
  right: 0%;
}
.solaris {
  transform: translate(-20%, -50%);
  top: 75%;
}
.solo {
  transform: translate(-50%, -50%);
  top: 0%;
  left: 50%;
}
.leya {
  transform: translate(-20%, -50%);
  left: 0;
} */

.planet {
  aspect-ratio: 1/1;
  border: 1px dashed rgb(211, 211, 211);
  border-style: dashed;
  border-radius: 50%;
  height: 100%;
}
.trajectory {
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* center it properly! */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.trajectory-1 {
  height: 0vh;
}
.trajectory-2 {
  height: 25vh;
}
.trajectory-3 {
  height: 40vh;
}
.trajectory-4 {
  height: 55vh;
}
.trajectory-5 {
  height: 70vh;
}
.trajectory-6 {
  height: 85vh;
}
.trajectory-7 {
  height: 100vh;
}
