.time-widget {
  width: 300px;
  transform: translateX(-50%);
}
.widget {
  z-index: 2;
  position: absolute;
  border: 1px solid rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(0.75px);
  transition-duration: 2s;
  transition: opacity 0.5s;
}
